
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/DashboardLayout.cshtml";
}

<div class="card pd-25">
    <div id="fullCalendar"></div>
</div>



@*<link href="~/App_Themes/Dashboard/slim/app/lib/fullcalendar/css/fullcalendar.css" rel="stylesheet">


    <div class="slim-mainpanel">
        <div class="container">
            <div class="card pd-25">
                <div id="fullCalendar"></div>
            </div>
        </div>
    </div>

    <script src="~/App_Themes/Dashboard/slim/app/lib/fullcalendar/js/fullcalendar.js"></script>

    <script>
        $(function () {
            'use strict';

            $('#fullCalendar').fullCalendar({
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'today next'
                }
            });
        });
    </script>*@